.container{
    margin: 20vh auto;
    width: 35vw;
    height: 45vh;
    border: 1px solid black;
    border-radius: 40px;
    
}

.signinForm{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
}

.signinName{
    margin: 15px auto;
}

input{
    height: 6vh;
    width: 15vw;
    padding: 7px 15px;
    border: 1px solid purple;
    border-radius: 10px;
    margin: 10px 0px;
}

.signinButton{

    height:5vh;
    width: 10vw;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.5s;
}

.login{
    font-size: 0.8rem;
    margin: 15px auto;
}

